// Primary button style
@mixin button-style {
	padding: 15px 30px;
	color: white;
	background-color: #F37C7C;
	border: none;
	border-radius: 50px;
	box-shadow: 0 0 20px rgba(255, 204, 204, .72);
	transition: all ease-in-out .3s;
	&:hover {
		background-color: #EF5757;
	}
}

// Secondary buttons style
@mixin button-style-2 {
	margin-right: 30px;
	font-size: 14px;
	background-color: white;
	border: none;

	@include hover-left-right;
}

// Same as primary button but in smaller areas
@mixin button-style-3 {
    @include button-style;
	margin-top: 10px !important;
	padding: 5px 15px !important;
	font-size: 14px !important;
	font-weight: bold !important;
	border-radius: 5px !important;
}

// A tag or button tertiary style
@mixin hover-left-right {
	&:after {
		transition: all ease-in-out .3s;
		background: none repeat scroll 0 0 #F58F8F;
		content: "";
		display: block;
		height: 2px;
		width: 0;
	}
	&:hover:after {
		width: 100%;
	}
}