// 2 navigation bars, one for landing pages and the otehr for main pages
.landing-nav-bar {
	margin: 35px 100px 0;
	display: grid;
	grid-auto-flow: column;
	justify-content: space-between;
	align-items: center;
	h3 {
		font-family: 'Montserrat', sans-serif;
		font-size: 18px;
		font-weight: bold;
		border-bottom: 2px solid white;
		transition: border-bottom 0.6s ease;
		@include hover-left-right;
	}
	.register-btn {
		@include button-style-2;
		@include hover-left-right;
	}
	.login-btn {
		@include button-style;
		margin-top: 0;
	}
}

.main-nav-bar {
	padding: 25px 125px;
	display: grid;
	grid-auto-flow: column;
	justify-content: space-between;
	align-items: center;
	border-bottom: 2px solid #F0F6FD;
	h3 {
		font-family: 'Montserrat', sans-serif;
		font-size: 18px;
		font-weight: bold;
		border-bottom: 2px solid white;
		transition: border-bottom 0.6s ease;
		@include hover-left-right;
	}
	div {
		display: grid;
		grid-auto-flow: column;
		align-items: center;
		grid-gap: 25px;
	}
	button {
		background-color: white;
		border: none;

		&:hover {
			filter: brightness(105%);
			-webkit-filter: brightness(105%);
		}
	}
	// This contains the post button
	.post-btn {
		padding: 10px 30px;
		background-color: #F58F8F;
		color: white;
		border-radius: 50px;
		box-shadow: 0 0 20px rgba(255, 204, 204, .72);
		transition: all ease-in-out .3s;
		&:hover {
			background-color: #EF5757;
		}
	}
	img {
		filter: none;
	}
	.friend-btn, .settings-btn, .prof-btn, .log-btn {
		width: 30px;
		height: 30px;
	}
	.prof-btn {
		width: 32px;
		height: 32px;
	}
}