// Settings page
.settings-page {
    display: grid;
    grid-template-columns: 1fr 300px;
    grid-gap: 30px;
    text-align: left;
    margin: 15px 129px;
    margin-bottom: 30px;

    h3 {
        margin-top: 5px;
        font-weight: bold;
    }

    h4 {
        font-size: 14px;
        color: #F58F8F;
        margin-bottom: 30px;
    }
    
    .message {
		color: #43AA8B;
    }

    .card {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 30px;
        margin-top: 20px;

        div {
            display: grid;

            h3 {
                font-size: 16px;
                margin: 0;
            }
            .select-wrapper {
                position: relative;

                select {
                    margin-top: 10px;
                    appearance: none;
                    width: 100%;
                    padding: 15px 20px;
                    border-radius: 50px;
                    border: 2px solid #8D99AE;
                    option:first-child{
                        display: none;
                    }
                    &:focus {
                        color: #3B3B58;
                    }
                }

                &::after {
                    content: "▼";
                    font-size: 15px;
                    top: 40%;
                    right: 15px;
                    position: absolute;
                    color: #3B3B58;
                }
            }
        }
    }

    // Submit buttons
    input, [type=submit] {
        margin-top: 10px;
        border-radius: 50px;
        width: 100%;
        box-sizing: border-box;
        border: 2px solid #8D99AE;
        padding: 12px 20px;

        &::placeholder {
            color: #8D99AE;
        }
    }
    [type=submit] {
        background-color: #F58F8F;
        color: white;
        border: none;

        &:hover {
            background-color: #F37C7C;
        }
    }

    .quote {
        grid-template-columns: 1fr;
    }

    // Picture styling
    .picture {
        grid-template-columns: 1fr 1fr;
        align-items: center;

        div  {
            h3 {
                margin-bottom: 10px;
            }

            div {
                display: grid;
                grid-template-columns: 50px 1fr;
                align-items: center;
                grid-gap: 20px;
    
                a {
                    padding: 5px 10px;
                    border-radius: 5px;
                    border: 2px solid #F58F8F;
                    color: #3B3B58;
                    width: 78px;
    
                    &:hover {
                        border: 2px solid #F37C7C;
                        text-decoration: none;
                    }
                }
            }
        }
    }

    .settings-img {
		width: 50px;
		height: 50px;
		justify-self: center;

		img {
			border-radius: 50px;
			width: 100%;
		}
	}
}