 * {
	margin: 0;
	padding: 0;
	box-sizing: border-box; //Considers the padding values
	font-family: 'Poppins', sans-serif; //Sets the main font-style
	color: #3B3B58; //Sets the standard colour
}

a {
	text-decoration: none; //Removes the text decoration to all a-tags
}


img {
	width: 100%; //Sets all images to have 100% width of parent container
	height: 100%; //Sets all images to have 100% height of parent container
	object-fit: cover; //Keeps the aspect ratio
	box-sizing: border-box; //Considers the padding values
}

html {
	::-webkit-scrollbar {
		width: 0; //Removes the scrollbar
	}
}